# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/
env/
credentials/
# ==========================================================
# Environment Variables
# ==========================================================

.env
.env.*

# ==========================================================
# Pytest
# ==========================================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Build
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Docker
# ==========================================================

docker-data/
volumes/

# ==========================================================
# Airflow
# ==========================================================

airflow/
logs/

# ==========================================================
# MinIO Local Storage
# ==========================================================

minio_data/

# ==================================
# MinIO Runtime Data
# ==================================

docker/minio/data/

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.bak